.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

p {
     font-size: 5rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align: center;
}


img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 1rem;
    border: 0.25rem solid #8828FF;
}